<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ImgShare</title>
    <!-- CSS Framework -->

    <!-- Custom -->
    <link rel="stylesheet" href="/public/css/style.css">

</head>
<body>
    <!-- TODO Add nav -->
    <nav>
        <div class="container"></div>
    </nav>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{ body }}}
            </div>
            <div class="col-md-4">
                {{> stats }}
                {{> popular }}
                {{> comments }}
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script>//jQuery cdn</script>
    <script src="/js/scripts.js"></script>
</body>
</html>